*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    };
.heading1
{
    background-color: rgb(216, 134, 34);
    padding: 16px;
    border: 5px solid #e12e2e;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading1 child{
    color: brown;
    background-color: aliceblue;
}